<% @announcements.each do |announcement| %>
  <tr class="<%= cycle('list_line_odd','list_line_even') %>">
  <td><h3><%= announcement.updated_at.strftime("%A, %B %d") %></h3></td>
    <td><h3><%= announcement.announcement %></h3></td>
  </tr>
<% end %>
