<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>My Tasks</h1>

<table>
  <%= render @tasks %>
</table>

<br />

<div id='new_project_button'><%= button_to 'New Task', new_task_path, 
	method: 'get', class: 'medium_button' %></div>
