  <tr class="<%= cycle('list_line_odd','list_line_even') %>">
    <td><h3><%= link_to group.id, group %></h3></td>
    <td><h3><%= link_to group.name, group %></h3></td>
  </tr>                            

