<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Weekly Status Reports Archive</h1>
                       
<%= button_to 'Current Weekly Project Status Report', generate_projects_report_path, class: 'medium_button', method: :get %>



<br />


