<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Status Reports Sent!</h1>

<div id="list">

<%= button_to 'Return to All Projects', projects_path, method: :get, class: "medium_button" %> 

</div>
