<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>What's New</h1>
<div id="list">
<table>
<%= render @announcements %>
</table>
</div>

<h1>Current Projects</h1>
<div id="list">
	<table>
		<tr>
			<th>Priority</th>
			<th>Name</th>
			<th>Project Manager</th>
			<th>Technical Lead</th>
			<th>Due Date</th>
			<th>Status</th>
		</tr>
		<%= render @projects %>
	</table>
</div>
