<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Account Settings</h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Group:</b>
  <%= (@user.groups.each.each.map &:name).to_sentence  %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
