.medium_button {
   border-top: 1px solid #0066ff;
   background: #88ffed;
   background: -webkit-gradient(linear, left top, left bottom, from(#0066ff), to(#88ffed));
   background: -webkit-linear-gradient(top, #0066ff, #88ffed);
   background: -moz-linear-gradient(top, #0066ff, #88ffed);
   background: -ms-linear-gradient(top, #0066ff, #88ffed);
   background: -o-linear-gradient(top, #0066ff, #88ffed);
   padding: 20px 40px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.medium_button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ffffff;
   }
.medium_button:active {
   border-top-color: #0066ff;
   background: #0066ff;
   }

#button_holder{
	width: 100%;
	display: block;
	height: 100px;
}

.floated_button{
	float: left;
}
