// Place all the styles related to the Foundation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#list{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

table {
	border-collapse:collapse;
	width: 93%;
}

tr {
	border: 1px solid $black3M;
}

tr:hover {
	background-color: $lightblue3M;
}

td {
	border: 1px solid $black3M;
	display:table-cell;
	padding:0px;
	//max-width: 300px;
	word-wrap: break-word;
}

th {
	border: 1px solid $black3M;
	display:table-cell;
	padding:0px;
}

td a {
	display:block;
	height: 100%;
	color: $black3M;
}

a:hover {
	color: $black3M;
	background-color: $lightblue3M;
}

a:visited{
	color: $black3M;
}

h1{
	text-align: center;
}

h3{
	color: $black3M;
	padding:10px;
	
}

.centered_button {
	text-align: center;
}


	
